[flake8]
exclude=.git, build, install, log, dist
extend-ignore = A005,B008,B902,C816,D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404,I202, W503
import-order-style = google
max-line-length = 130
show-source = true
statistics = true
